.sidebar {
    width: 250px;
    min-height: 100vh;
    background: #02152b;
    padding: 28px 22px;

    display: flex;
    flex-direction: column;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    color: white;
    font-size: 26px;
    margin-bottom: 55px;
}

.sidebar button {
    width: 100%;

    background: transparent;
    color: #94a3b8;

    border: none;
    padding: 14px 18px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 14px;

    cursor: pointer;
    transition: 0.2s;

    font-size: 15px;
    font-weight: 600;

    margin-bottom: 12px;
    text-align: left;
}

.sidebar button:hover {
    background: #0f2747;
    color: white;
}

.sidebar button i {
    width: 18px;
    font-size: 16px;
    text-align: center;
}

.activo-menu {
    background-color: #f59e0b !important;
    color: #111827 !important;
    font-weight: 800;
}

.sidebar-bottom {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid rgba(148, 163, 184, 0.18);
}

.sidebar-bottom button {
    color: #94a3b8;
}