/* SIDEBAR */

.sidebar {
    width: 250px;
    min-height: 100vh;
    background: #02152b;
    padding: 28px 18px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
}

.sidebar-bottom {
    margin-top: auto;
}

.sidebar h2 {
    color: white;
    font-size: 28px;
    margin-bottom: 40px;
}

.sidebar button {
    width: 100%;

    background: transparent;
    color: #cbd5e1;

    border: none;
    padding: 14px 16px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    gap: 12px;

    cursor: pointer;
    transition: 0.2s;

    font-size: 15px;
    margin-bottom: 10px;
    text-align: left;
}

.sidebar button:hover {
    background: #0f2747;
    color: white;
}

.sidebar button i {
    font-size: 16px;
}
.activo-menu {

    background-color: #0f2747 !important;

    color: white !important;

    font-weight: bold;

}

